@use 'base/variables' as v;
@use 'base/mixins' as m;

.banner__contactme{
    margin: 10rem 0;
    background-image: url(../img/i5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    @include m.tablet{
        height: 30vh;
    }
}

.contactme__layer{
    background-color: v.$negro;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: -9999;
}

.contactme{
    margin-bottom: 10rem;
}


.contactme__title{
    color: v.$blanco;
    font-weight: bold;
    font-size: 4rem;

    @include m.desktop { 
        font-size: 5rem;
    }
}

.contactme__body{
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include m.desktop { 
        flex-direction: row;
    }
}

.contactme__flex{
    border: 1px solid v.$gris;
    border-radius: 1rem;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;

    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.02);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.02);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.02);

    @include m.desktop { 
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

.contactme__form-flex{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

    @include m.tablet{
        align-items: unset;
    }
}

textarea{
    padding: 2rem;
    appearance: none;
    width: 100%;
    resize: none;
    height: 12vh;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.contactme__imgs{
    width: 200px;
    max-width: 70%;
    margin: 0 auto;
}

.contactme__button{
    @include m.boton(v.$secundario, v.$blanco);
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;

    @include m.tablet{
        width: 30%;
    }

}



