@use 'base/variables' as v;
@use 'base/mixins' as m;

.banner__skills{
    margin: 10rem 0;
    background-image: url(../img/d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 110rem;
    position: relative;
    z-index: 1;

    @include m.tablet{
        height: 90rem;
    }

    @include m.desktop{
        height: 75rem;
        margin-top: 20rem;
    }

}

.skills__layer{
    background-color: v.$negro;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: -9999;
}

.studiesexp__head{
    padding: 10rem 5rem 10rem 5rem;
    display: flex;
    flex-direction: column;
    color: v.$blanco;
}

.skills__title{
    color: v.$blanco;
    font-weight: bold;
    font-size: 4rem;

    @include m.desktop { 
        font-size: 5rem;
    }
}

.skill__text{
    color: v.$negro;
    line-height: 1.2;
    width: 70px;
    text-align: center;
    font-size: 1.25rem;
    word-break: break-all;
    font-weight: 400;
}

.studiesexp__parrafo{
    font-size: 1.2rem;

    @include m.tablet{
        font-size: 2rem;
    }
}

.software__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5rem;

    @include m.tablet{
        grid-template-columns: repeat(3, 1fr);

    }

    @include m.desktop{
        grid-template-columns: repeat(4, 1fr);
    }
}


.card{
    display: block;
    margin: 0 auto;
}


.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: v.$blanco;
    z-index: 1000;
}
  
.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
  
  
svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle
{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
  
.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 30) / 100);
    stroke: v.$secundario;
}

.card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: v.$secundario;
}

.card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: v.$secundario;
}

.card:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: v.$secundario;
}

.card:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 30) / 100);
    stroke: v.$secundario;
}

.card:nth-child(6) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
    stroke: v.$secundario;
}

.card:nth-child(7) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
    stroke: v.$secundario;
}
  

.skill__grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill__img{
    width: 10rem;
    height: 7rem;
    margin: 0 auto;
}

.skill__text{
    text-align: center;
}