@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-image: url(../img/background.jpg);
    background-position: top;
}

.footer__title{
    padding-top: 5rem;
    text-align: center;
    color: v.$blanco;
    font-weight: bold;
    font-size: 3rem;

    @include m.desktop { 
        font-size: 4rem;
    }
}

.footer__redes{
    margin:3rem 0;
    display: flex;
    justify-content: center;
    gap:2rem;

    a{
        font-size: 4rem;
        color: v.$blanco;
    }
}

.footer__credits{
    p{
        color: v.$blanco;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
}