@use 'base/variables' as v;
@use 'base/mixins' as m;


.aboutme__head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    gap: 1rem;

    img{
        width: 5rem;
    }
    
}

.aboutme__title{
    color: v.$secundario;
    font-weight: bold;
    font-size: 4rem;

    @include m.desktop { 
        font-size: 5rem;
    }
}

.aboutme__body{
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include m.desktop { 
        flex-direction: row;
    }
}

.aboutme__picture{
    overflow: hidden;
    width: 20rem;
    border-radius: 50%;
    margin: 0 auto;

    @include m.desktop { 
        width: 30rem;
    }
}

.aboutme__text{
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
}

.aboutme__flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @include m.tablet{
        display: flex;
        justify-content: center;
    }

    @include m.desktop{
        justify-content: flex-start;
    }
}

.language{
    display: flex;
    gap: 1rem;
}

.language__img{
    background-color: v.$blanco;
    border: 1px solid v.$gris;
    border-radius: 5rem;
    padding: 1.2rem;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    
}

.language__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.language__name{
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.language__lvl{
    display: block;
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: lighter;
}
